.checkout-backdrop {
    width: 0;
    transition: all 0.5s ease-in-out;
}

.checkout-backdrop.active {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.checkout-backdrop.active .checkout-container {
    visibility: visible;
    width: 37% !important;
    transition: all 0.5s ease-in-out !important;
}

.checkout-container {
    position: fixed;
    top: 4px;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    visibility: hidden;
    width: 0 !important;
    padding: 128px 64px 117px 64px;
    overflow-y: auto;
    text-align: center;
    transition: all 0.5s ease-in-out !important;
}

.checkout-container {
    position: fixed;
    top: 4px;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    width: 37%;
    padding: 176px 31px 65px 31px;
    overflow-y: auto;
}

.checkout-container h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    color: #00302E;
    margin-bottom: 33px;
}

.checkout-container form input {
    padding: 19px 32px;
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    margin-bottom: 47px;
}

.checkout-container form button,
.checkout-container button {
    background: #00302E;
    padding: 16px 0;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #F3C294;
}

.checkout-container .gobackdiv {
    text-align: start;
}

.checkout-container .goback {
    width: 30% !important;
}

@media (max-width: 1250px) {
    .checkout-backdrop.active .checkout-container {
        width: 47% !important;
    }
}

@media (max-width: 992px) {
    .checkout-backdrop.active .checkout-container {
        width: 57% !important;
    }

    .checkout-container .goback {
        width: 40% !important;
    }
}

@media (max-width: 800px) {
    .checkout-backdrop.active .checkout-container {
        width: 67% !important;
    }

    .checkout-container {
        padding: 128px 40px 117px 40px;
    }
}

@media (max-width: 670px) {
    .checkout-backdrop.active .checkout-container {
        width: 77% !important;
    }
}

@media (max-width: 585px) {
    .checkout-backdrop.active .checkout-container {
        width: 87% !important;
    }

    .checkout-container {
        padding: 128px 20px 117px 20px;
    }
}

@media (max-width: 510px) {
    .checkout-backdrop.active .checkout-container {
        width: 100% !important;
    }
}

@media (max-width: 350px) {
    .checkout-container {
        padding: 128px 5px 117px 5px;
    }
}