.dashboard-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.dashboard-navbrand {
    padding: 125px 0;
}

.dashboard-navbrandLink {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.dashboard-navbrand img {
    width: 57.48px;
    height: 67px;
    margin-right: 1rem;
}

.dashboard-navbrandLink h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #00302E;
}

li {
    padding: 0;
    margin: 0;
}

.link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}


@media (max-width: 768px) {
    .menu-icon-container {
        display: block;
    }

    .dashboard-links {
        display: none;
    }
}

@media (max-width: 576px) {
    .dashboard-navbrand img {
        width: 51.48px;
        height: 61px;
        margin-right: 1rem;
    }

    .dashboard-navbrandLink h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        color: #FFFFFF;
    }
}