.row {
    margin: 0 !important;
}

.your-order-open:hover{
    cursor: pointer;
}

.mainDashboard {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.mynav {
    background: #FBFBFB;
    border-radius: 20px;
    width: 25% !important;
    top: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.dashboard-container {
    padding: 0 !important;
}

.dashboard-container-div {
    width: 100%;
    padding: 139px 69px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.dashboard-header h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    color: #00302E;
}

.dashboard-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.69);
}

.dashboard-hero-img-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
} 

.dashboard-hero-img-div img {
    height: 100%;
    width: 100%;
}




@media (max-width: 1200px) {
    .mynav {
        width: 8.33% !important;
        transition: all 0.5s ease-in-out;
    }

    .mynav.active {
        width: 320px !important;
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 700px) {
    .dashboard-container-div {
        padding: 139px 20px;
    }
}

@media (max-width: 575px) {
    .mynav {
        width: 16.67% !important;
        transition: all 0.5s ease-in-out;
    }

    .dashboard-header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin-bottom: 53px;
    }

    .dashboard-header img {
        margin-bottom: 1rem;
    }
}