.row {
    margin: 0 !important;
}

.mainDashboard {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.mynav {
    background: #FBFBFB;
    border-radius: 20px;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
}

.dashboard-container {
    padding: 0 !important;
}

.dashboard-container-div {
    width: 100%;
    padding: 139px 69px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

.dashboard-header h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    color: #00302E;
}

.dashboard-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.69);
}

.dashboard-header img {
    width: 50px;
    height: 50px;
}



@media (max-width: 700px) {
    .dashboard-container-div {
        padding: 139px 20px;
    }
}

@media (max-width: 576px) {
    .dashboard-header {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin-bottom: 53px;
    }

    .dashboard-header img {
        margin-bottom: 1rem;
    }
}