@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.dashboard-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

/*.diff-menu-icon span {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url(../assests/icons8-menu-32.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}*/

.dashboard-menu-icon svg:hover {
    cursor: pointer;
}

.dashboard-navbrand {
    padding: 125px 0;
}

.dashboard-navbrandLink {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.dashboard-navbrand img {
    width: 57.48px;
    height: 67px;
    margin-right: 1rem;
}

.dashboard-navbrandLink h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #00302E;
}

.dashboard-links {
    padding: 0;
    margin: 0;
    width: 100%;
}

.dashboard-links li {
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 0 27px !important;
    margin-bottom: 2rem;
}

.link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070 !important;
    text-decoration: none;
    padding: 1rem !important;
    display: inline-block;
    width: 100%;

}

.link.active {
    color: #000000 !important;
    background: #EFEFEF;
    border-radius: 12px;
}

.dasboard-active-link:hover {
    cursor: pointer;
}

.dashboard-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.7rem;
}

.link-with-tag {
    display: flex;
    justify-content: space-between;
}

.link-with-tag:hover {
    cursor: pointer;
}

.dashboard-tags {
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 3px 7px;
    color: #000000;
}

.order-tag {
    background: #06E775;
    border: 1px solid #06E775;
}

.cart-tag {
    background: #F3C294;
    border: 1px solid #F3C294;
}

@media (max-width: 1200px) {
    .dashboard-menu-icon {
        margin-bottom: 10rem;
    }

    .content-to-be-hidden {
        transition: all 0.5s ease-in-out;
        display: none;
    }

    .content-to-be-hidden.active {
        display: inline-block;
        transition: all 0.5s ease-in-out;
    }

    .dashboard-nav.active {
        align-items: flex-start !important;
        transition: all 0.5s ease-in-out;
    }

    .dashboard-nav.active .dashboard-menu-icon {
        margin-bottom: 0;
        margin-left: 1.5rem;
    }

    .dashboard-nav.active .dashboard-navbrand {
        margin-left: 1.5rem;
    }

    .dashboard-nav.active .dashboard-links li {
        margin: 0 !important;
        list-style-type: none !important;
        width: 100% !important;
        padding: 0 27px !important;
        margin-bottom: 2rem !important;
        text-align: start !important;
    }

    .dashboard-nav.active .dashboard-icon {
        width: 24px !important;
        height: 24px !important;
        margin-right: 0.7rem !important;
    }

    .dashboard-nav.active .link {
        color: #707070 !important;
        text-decoration: none;
        padding: 1rem !important;
        display: inline-block;
        width: 100%;
        margin-bottom: 0 !important;
    }

    .dashboard-nav.active .link.active {
        color: #000000 !important;
        background: #EFEFEF !important;
        border-radius: 12px;
    }

    .dashboard-nav.active .link-with-tag {
        display: flex;
        justify-content: space-between !important;

        text-align: start !important;
        align-items: flex-start !important;
        margin-bottom: 0 !important;
    }

    .dashboard-links li {
        padding: 0 !important;
        text-align: center;
    }

    .dashboard-icon {
        margin-right: 0 !important;
    }

    .link {
        padding: 0 !important;
        margin-bottom: 2rem;
    }

    .link.active {
        background: none !important;
    }

    .link-with-tag {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem !important;
    }
}


@media (max-width: 768px) {
    .menu-icon-container {
        display: block;
    }
}

@media (max-width: 576px) {
    .dashboard-navbrand img {
        width: 51.48px;
        height: 61px;
        margin-right: 1rem;
    }

    .dashboard-navbrandLink h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
    }
}