@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.mainHome {
    width: 100%;
    overflow-x: hidden
}

.mainHomeSubDiv {
    width: 90%;
    margin: auto;
}

.first-section {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 174px;
}

.first-section-intro {
    width: 70%;
    padding-right: 40px;
}

.first-section div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 0;
}

.first-section div h1 span {
    color: #FBDDBB;
}

.first-section div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.74);
}

.img-div {
    width: 30%;
}

.img-sub-div {
    width: 400px;
    height: 400px;
}

.img-div img {
    width: 100%;
    height: 100%;
}

.buttons-div {
    margin-top: 21px;
}

.buttons-div a {
    width: 135px;
    height: 40px;
}

.buttons-div a:nth-of-type(1) {
    margin-right: 12.87px;
}

.second-section {
    color: white;
    text-align: center;
    margin-top: 126.48px;
}

.second-section div {
    text-align: center;
    width: 50%;
    margin: auto;
}

.second-section div h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.87);
}

.second-section div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 0.83);
}

.third-section {
    margin-top: 96px;
}

.third-section-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    justify-content: space-between;
}

.forth-section {
    margin-top: 269px;
}

.forth-section-div {
    display: flex;
    justify-content: space-between;
}

.getnotified {
    width: 50%;
}

.forth-section h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    color: #FBDDBB;
    margin: 0;
}

.forth-section p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    margin-top: 32px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.95);
}

.forth-section input {
    padding: 15px 0 15px 16px;
    width: 299px;
    background: #F7F7F7;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    outline: none;
}

.forth-section button {
    margin-left: 8px;
    background: #FBDDBB;
    border-radius: 5px;
    padding: 15px 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #00302E;
    border: none;
    outline: none;
}

footer {
    margin-top: 200px;
    background: #0B0D17;
}

.footer-div {
    width: 100%;
}

.quick-links {
    width: 87%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 0;
}

.quick-links-div {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.quick-links-div h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #F4F5F7;
    margin-bottom: 24px;
}

.quick-links-div a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #EEEFF4;
}

footer hr {
    background: #FFFFFF;
    opacity: 0.1;
}

.copyright {
    width: 87%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
    align-items: center;
}

.copyright p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
}

.copyright img {
    margin-right: 24px;
}


@media (max-width: 1400px) {
    .first-section-intro {
        width: 60%;
    }

    .first-section div h1 {
        font-size: 54px;
    }

    .second-section div h1 {
        font-size: 31px;
    }

    .forth-section h5 {
        font-size: 31px;
    }

    .img-div {
        width: 40%;
    }

    .img-sub-div {
        margin-left: auto;
    }
}

@media (max-width: 1240px) {
    .first-section-intro {
        padding-right: 1.5rem;
    }

    .img-sub-div {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 1130px) {

    .second-section div {
        width: 70%;
    }

    .notifiedinput {
        width: 50%;
    }

    .notifiedinput div {
        margin-left: auto;
    }

    .forth-section input {
        width: 280px;
        padding: 15px 0 15px 16px;
    }

    .forth-section button {
        padding: 14px 20px;
    }
}

@media (max-width: 1014px) {
    .forth-section input {
        width: 260px;
        padding: 15px 0 15px 16px;
    }

    .forth-section button {
        padding: 14px 15px;
    }
}


@media (max-width: 997px) {
    .first-section {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 174px;
    }

    .first-section-intro {
        text-align: center;
        width: 90%;
        padding-right: 0;
    }

    .img-div {
        text-align: center;
        width: 100%;
    }

    .img-sub-div {
        margin: auto;
    }

    .second-section div {
        width: 90%;
    }

    .third-section-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        justify-content: space-between;
    }

    .Home-cards:nth-of-type(3) {
        margin: auto;
        margin-top: 5rem;
        grid-column: 1/3;
        width: 40%;
    }

    .forth-section-div {
        flex-direction: column-reverse;
    }

    .getnotified {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .notifiedinput {
        width: 90%;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
    }

    .forth-section input {
        padding: 15px 0 15px 16px;
        width: 299px;
    }
    
    .forth-section button {
        margin-left: 8px;
        padding: 14px 40px;
    }
}

@media (max-width: 768px) {
    .third-section-cards-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        align-items: center;
        justify-content: space-between;
    }

    .Home-cards:nth-of-type(1) {
        margin: auto;
        width: 50%;
    }

    .Home-cards:nth-of-type(2) {
        margin: auto;
        margin-top: 5rem;
        width: 50%;
    }

    .Home-cards:nth-of-type(3) {
        margin: auto;
        margin-top: 5rem;
        padding: 0;
        grid-column: inherit;
        width: 50%;
    }
}

@media (max-width: 678px) {
    .img-sub-div {
        width: 300px;
        height: 300px;
    }

    .first-section div h1 {
        font-size: 44px;
        line-height: 65px;
    }

    .second-section div h1 {
        font-size: 29px;
    }

    .forth-section h5 {
        font-size: 29px;
    }

    .forth-section input {
        padding: 15px 0 15px 16px;
        width: 260px;
    }
    
    .forth-section button {
        margin-left: 8px;
        padding: 14px 40px;
    }
    
}

@media (max-width: 576px) {
    .mainHomeSubDiv {
        width: 100%;
        margin: 0 auto;
    }

    .copyright {
        width: 87%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28px 0;
        align-items: center;
    }
}

@media (max-width: 520px) {
    .notifiedinput div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .forth-section input {
        padding: 15px 0 15px 16px;
        width: 100%;
    }

    .forth-section button {
        margin-left: 0;
        padding: 14px 40px;
        margin-top: 1rem;
    }
}

@media (max-width: 473px) {
    .first-section div h1 {
        font-size: 34px;
    }

    .Home-cards:nth-of-type(1) {
        margin: auto;
        width: 80%;
        padding: 0;
    }

    .Home-cards:nth-of-type(2) {
        margin: auto;
        margin-top: 5rem;
        width: 80%;
        padding: 0;
    }

    .Home-cards:nth-of-type(3) {
        margin: auto;
        margin-top: 5rem;
        padding: 0;
        grid-column: inherit;
        width: 80%;
    }
}